/* https://www.youtube.com/watch?v=McPdzhLRzCg */
/* https://www.youtube.com/watch?v=JuZABF3bEdg */
* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.section-slider {
  position: relative;
  height: 600px;
  width: max-content;
  display: flex;
  flex-direction: row;
}

.slider-wrapper {
  position: absolute;
  height: 100%;
  width: 500px;
  overflow: hidden;
  display: flex;
  transform: translateX(-100%);
}

.slider {
  display: grid;
  grid-template-rows: repeat(4, 100%);
  height: 100%;
  width: 100%;
}

.slider img {
  height: 100%;
  width: 100%;
}

.slider-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}

.slider-navigation a div {
  height: 16px;
  width: 16px;
  border-radius: 50vh;
  background-color: pink;
}
