:root {
  --background-color-1: #0f0f0f;
  --background-color-2: #212121;
  --background-color-3: #282828;
  --top-bar-lateral-padding: 16px;
  --top-bar-button-menu-toggle-padding: 8px;
  --top-bar-youtube-logo-padding: 16px;
  --button-background-color-1: #222222;
  --button-background-color-2: #272727;
  --button-search-bar-keyboard-fill-color: #7b7b7b;
  --top-bar-icon-color: #ffffff;
  --search-bar-border-color: hsl(0, 0%, 18.82%);
  --search-box-text-color: hsl(0, 0%, 18.82%);
}

* {
  scrollbar-width: thin;
}

body {
  background-color: var(--background-color-1);
  height: 100vh;
  display: grid;
  grid-template-areas:
    "topbar"
    "main";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

button {
  padding: 0px;
}

.div-standard-svg-size {
  width: 24px;
  height: 24px;
}

header {
  grid-area: topbar;
  background-color: darkgreen;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#top-bar {
  padding-left: var(--top-bar-lateral-padding);
  padding-right: var(--top-bar-lateral-padding);
}

#top-bar > * {
  display: flex;
  flex-direction: row;
  width: fit-content;
}
#top-bar svg {
  fill: var(--top-bar-icon-color);
}

#button-menu-toggle {
  padding: var(--top-bar-button-menu-toggle-padding);
  background-color: transparent;
  border: none;
  border-radius: 50vh;
}

#button-menu-toggle > svg,
#a-youtube-logo > svg {
  fill: white;
  height: 24px;
}

#a-youtube-logo {
  height: fit-content;
  fill: white;
  padding: var(--top-bar-youtube-logo-padding);
}

#div-search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

#div-search-box * {
  color: var(--search-box-text-color);
}

#div-search-box > *,
#section-profile > * {
  height: 40px;
}

#div-search-bar {
  display: flex;
  flex-direction: row;
  gap: 0px;
}
#div-search-bar > * {
  border: none;
  border: 1px solid var(--search-bar-border-color);
}
#div-search-bar > *:first-child {
  border-right: none;
  border-top-left-radius: 50vh;
  border-bottom-left-radius: 50vh;
}
#div-search-bar > *:last-child {
  border-top-right-radius: 50vh;
  border-bottom-right-radius: 50vh;
}

#div-search-bar-input-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
  justify-content: space-between;
  width: 400px;
}

#div-search-bar-input-box form,
#div-search-bar-input-box input {
  width: 100%;
}

#div-search-bar-input-box *:focus {
  outline: none;
}

#div-search-bar-input-box * {
  background-color: transparent;
  border: none;
}

#form-search-bar,
#form-search-bar > * {
  height: 24px;
  font-size: 18px;
  padding: 0px;
}

#button-search-bar-keyboard {
  width: 24px;
  box-sizing: content-box;
  padding: 6px;
  padding-right: 10px;
  background-color: transparent;
}

#button-search-bar-keyboard svg {
  height: 100%;
  width: 100%;
  fill: var(--button-search-bar-keyboard-fill-color);
}

#button-search {
  width: 64px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--button-background-color-2);
}

#button-search > * {
  height: 24px;
  width: 24px;
}

#button-mic {
  width: 40px;
  border: none;
  border-radius: 50vh;
  background-color: var(--button-background-color-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-profile {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#section-profile button {
  background-color: transparent;
  border: none;
  border-radius: 50vh;
}

main {
  display: grid;
  grid-template-areas: "sidemenu videoslist";
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr;
}

#side-menu {
  grid-area: sidemenu;
  background-color: yellow;
}

#section-videos-list {
  grid-area: videoslist;
  background-color: red;
}
