:root {
  --background-color-1: #0f0f0f;
  --background-color-2: #212121;
  --background-color-3: #282828;
  --top-bar-lateral-padding: 16px;
  --top-bar-button-menu-toggle-padding: 8px;
  --top-bar-youtube-logo-padding: 16px;
  --button-background-color-1: #222222;
  --button-background-color-2: #272727;
  --button-search-bar-keyboard-fill-color: #7b7b7b;
  --top-bar-icon-color: #ffffff;
  --search-bar-border-color: hsl(0, 0%, 18.82%);
  --search-box-text-color: hsl(0, 0%, 18.82%);
  --button-create-background-color: #272727;
  --button-create-text-color: #ffffff;
  --button-create-font-size: 15px;
  --side-menu-items-color: #f1f1f1;
  --filters-items-background-color: #ffffff1a;
  --filters-items-text-color: #f1f1f1;
  --filters-items-highlight-background-color: #f1f1f1;
  --filters-items-highlight-text-color: #0f0f0f;
  --side-menu-section-divisor-color: rgba(255, 255, 255, 0.2);
  --guide-links-text-color: #aaaaaa;
  --div-copyright-text-color: #717171;
  --section-main-right-box-childs-lateral-padding: 12px;
  --button-next-filters-color: #e1e1e1;
}

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-VariableFont_wdthwght.ttf);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--guide-links-text-color) transparent;
}

body {
  background-color: var(--background-color-1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

button {
  padding: 0px;
}

button:hover {
  cursor: pointer;
}

.div-standard-svg-size {
  width: 24px;
  height: 24px;
}

.fill-remaining-space {
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
}

#top-bar {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: var(--top-bar-lateral-padding);
  padding-right: var(--top-bar-lateral-padding);
  align-items: center;
}

#top-bar > * {
  display: flex;
  flex-direction: row;
  width: fit-content;
}
#top-bar svg {
  fill: var(--top-bar-icon-color);
}

#button-menu-toggle {
  padding: var(--top-bar-button-menu-toggle-padding);
  background-color: transparent;
  border: none;
  border-radius: 50vh;
}

#button-menu-toggle > svg,
#a-youtube-logo > svg {
  fill: white;
  height: 24px;
}

#a-youtube-logo {
  height: fit-content;
  fill: white;
  padding: var(--top-bar-youtube-logo-padding);
}

#div-search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

#div-search-box * {
  color: var(--search-box-text-color);
}

#div-search-box > *,
#section-profile > * {
  height: 40px;
}

#div-search-bar {
  display: flex;
  flex-direction: row;
  gap: 0px;
}
#div-search-bar > * {
  border: 1px solid var(--search-bar-border-color);
}
#div-search-bar > *:first-child {
  border-right: none;
  border-top-left-radius: 50vh;
  border-bottom-left-radius: 50vh;
}
#div-search-bar > *:last-child {
  border-top-right-radius: 50vh;
  border-bottom-right-radius: 50vh;
}

#div-search-bar-input-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
  justify-content: space-between;
  width: 400px;
}

#div-search-bar-input-box form,
#div-search-bar-input-box input {
  width: 100%;
}

#div-search-bar-input-box *:focus {
  outline: none;
}

#div-search-bar-input-box * {
  background-color: transparent;
  border: none;
}

#form-search-bar,
#form-search-bar > * {
  height: 24px;
  font-size: 18px;
  padding: 0px;
}

#button-search-bar-keyboard {
  width: 24px;
  box-sizing: content-box;
  padding: 6px;
  padding-right: 10px;
  background-color: transparent;
}

#button-search-bar-keyboard svg {
  height: 100%;
  width: 100%;
  fill: var(--button-search-bar-keyboard-fill-color);
}

#button-search {
  width: 64px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--button-background-color-2);
}

#button-search > * {
  height: 24px;
  width: 24px;
}

#button-mic {
  width: 40px;
  border: none;
  border-radius: 50vh;
  background-color: var(--button-background-color-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-mic > * {
  width: 18px;
  height: 18px;
}

#section-profile {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#section-profile {
  height: 40px;
}

#section-profile button {
  max-height: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50vh;
}

#button-create {
  gap: 6px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 16px;
  background-color: var(--button-create-background-color);
  border-radius: 50vh;
  font-weight: bold;
  font-size: var(--button-create-font-size);
  line-height: var(--button-create-font-size);
  color: white;
}

#button-notifications,
#button-profile {
  background-color: transparent;
}

#button-notifications {
  flex-direction: row;
}

#button-profile {
  width: 60px;
  height: 34px;
}

#button-profile img {
  border: none;
  border-radius: 50vh;
  height: 100%;
  aspect-ratio: 1 / 1;
}

main {
  display: flex;
  flex-direction: row;
}

#side-menu {
  min-width: 240px;
  width: 240px;
  height: 100%;
  color: var(--side-menu-items-color);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#side-menu > * {
  border-bottom: 1px solid var(--side-menu-section-divisor-color);
  padding: 12px;
}
#side-menu > *:last-child {
  border-bottom: none;
}

.a-side-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  font-size: 14px;
  line-height: 100%;
  padding: 8px 12px;
}

.a-side-menu-item:hover {
  background-color: var(--button-background-color-2);
  border-radius: 10px;
}

.div-side-menu-item-title {
  display: flex;
  flex-direction: row;
  padding: 6px 12px 4px 12px;
}

.div-side-menu-item-icon {
  gap: 8px;
}

.h3-side-menu-item-title {
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  padding-right: 8px;
}

.div-side-menu-item-icon {
  width: 24px;
  aspect-ratio: 1 / 1;
}

.span-side-menu-item-icon {
  font-weight: 500;
}

#section-about {
}

#div-guide-links-primary,
#div-guide-links-secondary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 16px 24px 0px 24px;
}

#div-guide-links-primary > a,
#div-guide-links-secondary > a {
  margin-right: 8px;
  font-size: 13px;
  color: var(--guide-links-text-color);
  line-height: 18px;
  font-weight: bold;
}

#div-guide-links-primary > a:last-child,
#div-guide-links-secondary > a:last-child {
  margin-right: 0px;
}

#div-copyright {
  padding: 16px 24px;
  font-size: 12px;
  color: var(--div-copyright-text-color);
}

/* Se o side menu estiver expandido, exibir todas as seções e esconder o menu principal */

#section-main-right-box {
  display: flex;
  flex-direction: column;
}

#section-filters {
  height: fit-content;
  padding: 12px var(--section-main-right-box-childs-lateral-padding);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ----- !!! ----- */
/*
#section-filters > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 10px;
  aspect-ratio: 1 / 1;
}
*/

#div-filters-items {
  padding: 0px var(--section-main-right-box-childs-lateral-padding);
  font-size: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
  gap: 12px;
}

#div-next-filters {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  aspect-ratio: 1 / 1;
}

#div-next-filters-fade {
  position: absolute;
  height: 100%;
  aspect-ratio: 1 / 1;
  background: linear-gradient(
    to left,
    var(--background-color-1) 20%,
    rgba(33, 33, 33, 0) 80%
  );
  transform: translate(-100%, 0%);
}

#div-filters-items > * {
  white-space: nowrap;
  background-color: var(--filters-items-background-color);
  color: var(--filters-items-text-color);
  font-weight: bold;
  line-height: 20px;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
}

#button-next-filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  aspect-ratio: 1 / 1;
  border: none;
  border-radius: 50vh;
  background-color: transparent;
  color: var(--button-next-filters-color);
}

#button-next-filters > div {
  height: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-videos-list {
  background-color: red;
}

.fade {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  position: absolute;
}
