body {
  color: #dddddd;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: pink;
}

table {
  border-color: #cccccc;
}

input {
  border: 2px solid #dddddd;
  color: #dddddd;
  background-color: black;
}
